.main-screen__content-profile{
max-width: 900px;
max-height: 330px;
min-height: 300px;
margin: 16px 13px 0 0px;
overflow: hidden;
border-radius: 10px;
}

.main-screen__content-profile img{
	width: 100%;
	height: 100%;
	opacity: 0.9;
	object-fit: cover;
}
/* .main-screen__content{
	grid-area: c;
} */